# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.ProjetAnnuel3DJV.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\projets unity\ProjetAnnuel3DJV\.idea\.idea.ProjetAnnuel3DJV\.idea/dataSources/
/dataSources.local.xml
